# Shopify Configuration
VITE_SHOPIFY_DOMAIN=
VITE_SHOPIFY_ACCESS_TOKEN=

# Email Configuration (Server-side)
EMAIL_USER=
EMAIL_PASS=

# Twilio Configuration (Server-side)
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
TWILIO_WHATSAPP_TO=

# Payment Configuration
VITE_MASTERCARD_ACCOUNT=
